
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="section group">
                <div class="col span_1_of_3" id="cell1" (click)="cellFunction('cell1')"></div>
                <div class="col span_1_of_3" id="cell2" (click)="cellFunction('cell2')"></div>
                <div class="col span_1_of_3" id="cell3" (click)="cellFunction('cell3')"></div>
            </div>
            
            <div class="section group">
                <div class="col span_1_of_3" id="cell4" (click)="cellFunction('cell4')"></div>
                <div class="col span_1_of_3" id="cell5" (click)="cellFunction('cell5')"></div>
                <div class="col span_1_of_3" id="cell6" (click)="cellFunction('cell6')"></div>    
            </div>
            
            <div class="section group">
                <div class="col span_1_of_3" id="cell7" (click)="cellFunction('cell7')"></div>
                <div class="col span_1_of_3" id="cell8" (click)="cellFunction('cell8')"></div>
                <div class="col span_1_of_3" id="cell9" (click)="cellFunction('cell9')"></div>
            </div>
        </div>
    </div>
    
    <div class="form-group text-center">
        <button 
            class="btn btn-primary form-control" 
            (click)="cleanHash()">Nova Partida 
        </button>
    </div>

    <div class="form-group text-center">
        <button 
            class="btn btn-primary form-control" 
            (click)="goBack()">Voltar
        </button>
    </div>
</div> 

