/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
    margin: 0px; 
     
}

/*  COLUMN SETUP  */
.col {
	display: block;
    float:left;
    background-color: #eee;
    height:100px;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

/*#jogo{
    width:303px;
    height:300px;
    border:solid 1px
}
.linha{
    height:100px;
    border-bottom:solid 1px;
}
.casa{
    width:100px;
    height:100%;
    border-radius: 4px;
    border-right:solid 1px;
    float:left;
}*/