
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="section group">
                <div class="col span_1_of_3" id="cell1" (click)="cellFunction($event)"></div>
                <div class="col span_1_of_3" id="cell2" (click)="cellFunction($event)"></div>
                <div class="col span_1_of_3" id="cell3" (click)="cellFunction($event)"></div>
            </div>
            
            <div class="section group">
                <div class="col span_1_of_3" id="cell4" (click)="cellFunction($event)"></div>
                <div class="col span_1_of_3" id="cell5" (click)="cellFunction($event)"></div>
                <div class="col span_1_of_3" id="cell6" (click)="cellFunction($event)"></div>    
            </div>
            
            <div class="section group">
                <div class="col span_1_of_3" id="cell7" (click)="cellFunction($event)"></div>
                <div class="col span_1_of_3" id="cell8" (click)="cellFunction($event)"></div>
                <div class="col span_1_of_3" id="cell9" (click)="cellFunction($event)"></div>
            </div>
        </div>
    </div>
</div>

<p>
    {{evt}}<br>
</p>